.clientList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
}

.client{
    display: flex;
    flex-direction: column;
    font-family: "Tilt Neon", sans-serif;
}

.CodeMirror{
    min-height: 94.89vh;
    max-height: 100vh;
    min-width: 80%;
    font-size: 15px;
    line-height: 1.6;
    padding-top: 20px;
    padding-bottom: 20px;
}
    
    