@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.mainWrapper{
    display: flex;
    height: 100vh;
}

.aside{
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    color: white;
    background: linear-gradient(135deg, #7815F5, #C710E4, #7815F5, #C710E4);
    background-size: 300% 300%;
    animation: gradientShift 5s ease infinite;
}
.roomMember{
    font-size: 1.5rem;
    margin-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
.asideBtns{
    display: flex;
    position: absolute;
    bottom: 12px;
    margin-left: -1px;
}
.logoImage{
    width: 20vw;
    margin-left: 0px;
}

/* Button Styles */
.leaveBtn,
.copyBtn {
    padding: 10px 20px;
    margin: 4px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}


.leaveBtn {
    background-color: rgb(169,54,47);
    color: #fff;
}

.leaveBtn:hover {
    background-color: #FF80AB ;
    background-color: #E91E63;
    transform: scale(1.1); 
}


.copyBtn {
    background-color: #9C27B0 ;
    background-color: rgb(103,214,105,0.9);
    color: black;
}

.copyBtn:hover {
    background-color: #673AB7 ; 
    background-color: rgb(103,214,105);
    transform: scale(1.1);
}

